#yinyan{
    position: relative;
    width: 30vw;
    height: 30vw;
    background-image: linear-gradient(45deg, black, transparent); 
    perspective: 40vw;
    margin: 10vw auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.circulo_1, .circulo_2{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo_1{
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.circulo_2{
    background-color: #000  ;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.yin_1{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
    overflow: hidden;
    animation: rotar infinite linear 4.5s;
}
.fondo_blando_izquierda{
    background-color: #fff;
    width: 15vw;
    position: absolute;
    left: 0;
    height: 30vw;
}
.circulo_1 > div,
.circulo_2 > div{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.circulo_1 > div{
    background-color: #000;
}
.circulo_2 > div{
    background-color: #fff;
}







@keyframes rotar{
    to{        
        transform: rotateY(360deg);
    }
}